html 
    head  
        title login 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
        body.container
        h2 login 
        p Please login to continue 
        form(method="POST" action='/auth/login')
                label(for="username") Username
                input(type="text" placeholder="Username",name="username")#username.form-control
                br
                label(for="password") password
                input(type="password" placeholder="Password" name="password")#password.form-control
                hr
                br
                input(type="submit" value="login").btn.btn-primary

                p Don't have an account?
                p Register 
                a(href="/register") here